examples/Input msg examples.json
[{"id":"c719a4cf44a2411f","type":"debug","z":"8ec88bd9c36c3f6b","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":1060,"wires":[]},{"id":"743ec6a16862d6b3","type":"inject","z":"8ec88bd9c36c3f6b","name":"epoch","props":[{"p":"date","v":"1715538484102","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":85,"y":1125,"wires":[["57ecd4fc803671b0"]]},{"id":"e29c12f89d4c3ca1","type":"inject","z":"8ec88bd9c36c3f6b","name":"RFC2822 format","props":[{"p":"date","v":"Mon, 22 Apr 2024 19:55:05 GMT","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":115,"y":1045,"wires":[["57ecd4fc803671b0"]]},{"id":"4a681c5c8a81baf6","type":"inject","z":"8ec88bd9c36c3f6b","name":"ISO 8601 format (UTC time)","props":[{"p":"date","v":"2024-04-16T12:02:05Z","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tetpayload","payloadType":"str","x":155,"y":1005,"wires":[["57ecd4fc803671b0"]]},{"id":"57ecd4fc803671b0","type":"simpletime","z":"8ec88bd9c36c3f6b","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mymonthf":true,"mydom":true,"mydoy":true,"myday":true,"mydayf":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":345,"y":1060,"wires":[["6b4edaee071acb28"]]},{"id":"975121d46876452c","type":"inject","z":"8ec88bd9c36c3f6b","name":"Short date","props":[{"p":"date","v":"2024-05-11","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":95,"y":1085,"wires":[["57ecd4fc803671b0"]]},{"id":"6b4edaee071acb28","type":"function","z":"8ec88bd9c36c3f6b","name":"Format output","func":"msg.payload = msg.mytimes + \" \" + msg.mydate\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1060,"wires":[["c719a4cf44a2411f"]]}]
