examples/Time formatting example
[{"id":"8aef54dec2684757","type":"simpletime","z":"b3b413d1.05b1b","name":"","mydate":false,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":true,"myhour":false,"mytime":false,"mytimes":false,"myminute":true,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":false,"mypm":true,"x":360,"y":1405,"wires":[["64f4fe3e4a94f3d0"]]},{"id":"f4a2238279d79ddc","type":"inject","z":"b3b413d1.05b1b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":195,"y":1405,"wires":[["8aef54dec2684757"]]},{"id":"c2f5e6d627f299ec","type":"debug","z":"b3b413d1.05b1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":715,"y":1405,"wires":[]},{"id":"64f4fe3e4a94f3d0","type":"template","z":"b3b413d1.05b1b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{myhourpm}}:{{myminute}}{{mypm}}","output":"str","x":540,"y":1405,"wires":[["c2f5e6d627f299ec"]]}]
